*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: red;
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

ul {
    margin: 50px;
    list-style-type: square;
    font-size: 20px;
    background-color: lightgreen;
    display: inline-block;
    padding: 20px;
}

img {
    margin: auto;
    display: block;
    width: 300px;
}

h2 {
    margin: 20px;
}

p {
    margin: 30px;
}